@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background-color: black;
    background-image: url('images/bg_image.jpg');
    background-attachment: fixed;
    font-family: 'Fira Code', Consolas, Monaco, 'Courier New', Courier, monospace;
    color:#bfbfbf;
}

.music-player {
    background-image: linear-gradient(#80808080, #30303080);
    padding: 10px 10px 8px 10px;
    border-radius: 2px;
}

.container {
    width: 860px;
    max-width: 100%;
    margin: auto;
}

header img {
    margin-left: 10px;
    width: 150px;
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

@media (max-width: 688px) {
    .container {
        width: 516px;
        max-width: 100%;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}

main img {
    width:100%;    
}

main h2 {
    text-align: center;
    color:#0067ce;
    margin: 0;
}

a:link {
    text-decoration: none;
    color:#5cc3ff;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration:unset;
    color:#6fe5ff
}

.content, .heading {
    background-color: #2C384460;
    padding: 10px;
}

.heading {
    margin: 0;
}

.left-column, .right-column, .project {
    padding: 10px;
}

.left-column > *, .right-column > * {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
}

td {
    padding: 10px;
}

td:nth-child(1), h3 {
    color:orange;
}

td p {
    margin-top: 0;
}


tr:nth-child(even), .project:nth-child(even) {
    background-color: #3342513a;
}

#experience li {
    margin-bottom: 15px;
}

/*#region placeholder css */

.project img:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(120deg) brightness(80%);
}


/* .container {    
    background-color: #ffffff07;
} */

/*#endregion placeholder css*/

